/* Element selector */
p {
    font-size: 16px;
    color: #333;
    text-align: left;
}

/* ID selector */
#title {
    color: darkblue;
    text-align: center;
    font-weight: bold;
}

/* Class selector */
.info-box {
    background-color: #b52525;
    padding: 15px;
    margin: 20px 0;
    border: 2px solid #555;
}